[Unit]
Description=Room Control Flask Service
After=network.target

[Service]
WorkingDirectory=%h/room_control_server
ExecStart=/usr/bin/python3 %h/room_control_server/app.py
Restart=always

[Install]
WantedBy=multi-user.target
