[Unit]
Description=Room Control Flask Service
After=network.target

[Service]
WorkingDirectory=/usr/local/sbin/room_control_server
ExecStart=/usr/bin/python3 /usr/local/sbin/room_control_server/run.py
Restart=always

[Install]
WantedBy=default.target
