body {
    background: black;
    color: white;
    font-family: 'Serif', sans-serif;
}

/* FROM https://www.w3schools.com/css/css3_buttons.asp */

.button {
    display: inline-block;
    padding: 7px 16px;
    margin: 0 0.1em 0.1em 0;
    border: 0.16em solid rgba(255, 255, 255, 0);
    border-radius: 4px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Serif', sans-serif;
    font-weight: 400;
    color: #ffffff;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    text-align: center;
    transition: all 0.2s;
}

.button:hover {
    border-color: rgba(255, 255, 255, 1);
}

@media all and (max-width: 30em) {
    .button {
        display: block;
        margin: 0.2em auto;
    }
}