<!DOCTYPE html>
<head>
    <title>Room Control</title>
    <link rel="stylesheet" href="../static/style.css/">
    <div style="text-align: center;"><h1>Room Controller!</h1></div>
    <br>
    <div style="text-align: center;"><img src="../static/halloween.jpg" alt "RoomControl-logo" width="400" height="350">
    </div>
</head>
<div style="text-align: center;">
    <body>

    <h3> Fan is currently {{ fan }},
        {% if f == 1 %}
        <a href="/fan/off" class="button">Turn Off</a>
        {% else %}
        <a href="/fan/on" class="button">Turn On</a>
        {% endif %}
    </h3>

    <br>
    <h3> Main Light 1 is currently {{ m1 }},
        {% if m1 == 1 %}
        <a href="/m1/off" class="button">Turn Off</a>
        {% else %}
        <a href="/m1/on" class="button">Turn On</a>
        {% endif %}
    </h3>
    <h3> Main Light 2 is currently {{ m2 }},
        {% if m2 == 1 %}
        <a href="/m2/off" class="button">Turn Off</a>
        {% else %}
        <a href="/m2/on" class="button">Turn On</a>
        {% endif %}
    </h3>

    <h3> Main Light 3 is currently {{ m3 }},
        {% if m3 == 1 %}
        <a href="/m3/off" class="button">Turn Off</a>
        {% else %}
        <a href="/m3/on" class="button">Turn On</a>
        {% endif %}
    </h3>

    <h3> Main Light 4 is currently {{ m4 }},
        {% if m4 == 1 %}
        <a href="/m4/off" class="button">Turn Off</a>
        {% else %}
        <a href="/m4/on" class="button">Turn On</a>
        {% endif %}
    </h3>

    <br>
    <h3> Night Lights 1 & 2 are currently {{ n12 }},
        {% if n12 == 1 %}
        <a href="/n12/off" class="button">Turn Off</a>
        {% else %}
        <a href="/n12/on" class="button">Turn On</a>
        {% endif %}
    </h3>
    <h3> Night Light 3 is currently {{ n3 }},
        {% if n3 == 1 %}
        <a href="/n3/off" class="button">Turn Off</a>
        {% else %}
        <a href="/n3/on" class="button">Turn On</a>
        {% endif %}
    </h3>
</div> </body>
</html>