{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="../static/css/style.css">
    <div style="text-align: center;"><h2><br>Room Controller!</h2></div>
    <br>
    <div style="text-align: center;"><img src="../static/images/halloween.jpg" alt "RoomControl-logo" width="400"
        height="350">
    </div>
{% endblock %}


{% block body %}

    {#  change 'id' and 'for' field and add onclick="javascript:window.location.href='/fan/on'; return false;"  #}
    {#    <input type="radio" class="btn-check" name="options-outlined" id="success-outlined" autocomplete="off">#}
    {#    <label class="btn btn-outline-success" for="success-outlined">On</label>#}
    {##}
    {#    <input type="radio" class="btn-check" name="options-outlined" id="danger-outlined" autocomplete="off">#}
    {#    <label class="btn btn-outline-danger" for="danger-outlined">Off</label>#}
    {#    #}

    {# ALL Main lights & Fan buttons #}
    <a href="/all/on" class="btn btn-primary btn-lg active" role="button">Main Lights and Fan On</a>
    <a href="/all/off" class="btn btn-danger btn-lg" role="button">Main Lights and Fan Off</a>

    <br>
    <br>

    {# Fan button #}
    <h3> Fan :
        {% if fan[0] == 0 %}
            <input onclick="javascript:window.location.href='/fan/on'; return false;" type="radio"
                   class="btn-check" name="fan-options-outlined" id="fan-success-outlined" autocomplete="off"
                   checked>
            <label class="btn btn-outline-success" for="fan-success-outlined">On</label>

            <input onclick="javascript:window.location.href='/fan/off'; return false;" type="radio"
                   class="btn-check" name="fan-options-outlined" id="fan-danger-outlined" autocomplete="off">
            <label class="btn btn-outline-danger" for="fan-danger-outlined">Off</label>
            {#            <a href="/fan/off" class="button">Turn Off</a>#}
        {% else %}
            <input onclick="javascript:window.location.href='/fan/on'; return false;" type="radio"
                   class="btn-check" name="fan-options-outlined" id="fan-success-outlined" autocomplete="off">
            <label class="btn btn-outline-success" for="fan-success-outlined">On</label>

            <input onclick="javascript:window.location.href='/fan/off'; return false;" type="radio"
                   class="btn-check" name="fan-options-outlined" id="fan-danger-outlined" autocomplete="off"
                   checked>
            <label class="btn btn-outline-danger" for="fan-danger-outlined">Off</label>
            {#            <a href="/fan/on" class="button">Turn On</a>#}
        {% endif %}
    </h3>
    <br>


    {# Main lights buttons #}
    <h3> Light 1 :
        {% if m1[0] == 0 %}
            <input onclick="javascript:window.location.href='/m1/on'; return false;" type="radio"
                   class="btn-check" name="m1-options-outlined" id="m1-success-outlined" autocomplete="off"
                   checked>
            <label class="btn btn-outline-success" for="m1-success-outlined">On</label>

            <input onclick="javascript:window.location.href='/m1/off'; return false;" type="radio"
                   class="btn-check" name="m1-options-outlined" id="m1-danger-outlined" autocomplete="off">
            <label class="btn btn-outline-danger" for="m1-danger-outlined">Off</label>

            {#            <a href="/m1/off" class="button">Turn Off</a>#}
        {% else %}
            <input onclick="javascript:window.location.href='/m1/on'; return false;" type="radio"
                   class="btn-check" name="m1-options-outlined" id="m1-success-outlined" autocomplete="off">
            <label class="btn btn-outline-success" for="m1-success-outlined">On</label>

            <input onclick="javascript:window.location.href='/m1/off'; return false;" type="radio"
                   class="btn-check" name="m1-options-outlined" id="m1-danger-outlined" autocomplete="off"
                   checked>
            <label class="btn btn-outline-danger" for="m1-danger-outlined">Off</label>
            {#            <a href="/m1/on" class="button">Turn On</a>#}
        {% endif %}
    </h3>

    <br>
    <h3> Light 2 :
        {% if m2[0] == 0 %}
            <input onclick="javascript:window.location.href='/m2/on'; return false;" type="radio"
                   class="btn-check" name="m2-options-outlined" id="m2-success-outlined" autocomplete="off"
                   checked>
            <label class="btn btn-outline-success" for="m2-success-outlined">On</label>

            <input onclick="javascript:window.location.href='/m2/off'; return false;" type="radio"
                   class="btn-check" name="m2-options-outlined" id="m2-danger-outlined" autocomplete="off">
            <label class="btn btn-outline-danger" for="m2-danger-outlined">Off</label>

            {#            <a href="/m2/off" class="button">Turn Off</a>#}
        {% else %}
            <input onclick="javascript:window.location.href='/m2/on'; return false;" type="radio"
                   class="btn-check" name="m2-options-outlined" id="m2-success-outlined" autocomplete="off">
            <label class="btn btn-outline-success" for="m2-success-outlined">On</label>

            <input onclick="javascript:window.location.href='/m2/off'; return false;" type="radio"
                   class="btn-check" name="m2-options-outlined" id="m2-danger-outlined" autocomplete="off"
                   checked>
            <label class="btn btn-outline-danger" for="m2-danger-outlined">Off</label>
            {#            <a href="/m2/on" class="button">Turn On</a>#}
        {% endif %}
    </h3>
    <br>

    <h3> Light 3 :
        {% if m3[0] == 0 %}
            <input onclick="javascript:window.location.href='/m3/on'; return false;" type="radio"
                   class="btn-check" name="m3-options-outlined" id="m3-success-outlined" autocomplete="off"
                   checked>
            <label class="btn btn-outline-success" for="m3-success-outlined">On</label>

            <input onclick="javascript:window.location.href='/m3/off'; return false;" type="radio"
                   class="btn-check" name="m3-options-outlined" id="m3-danger-outlined" autocomplete="off">
            <label class="btn btn-outline-danger" for="m3-danger-outlined">Off</label>

            {#            <a href="/m3/off" class="button">Turn Off</a>#}
        {% else %}
            <input onclick="javascript:window.location.href='/m3/on'; return false;" type="radio"
                   class="btn-check" name="m3-options-outlined" id="m3-success-outlined" autocomplete="off">
            <label class="btn btn-outline-success" for="m3-success-outlined">On</label>

            <input onclick="javascript:window.location.href='/m3/off'; return false;" type="radio"
                   class="btn-check" name="m3-options-outlined" id="m3-danger-outlined" autocomplete="off"
                   checked>
            <label class="btn btn-outline-danger" for="m3-danger-outlined">Off</label>
            {#            <a href="/m3/on" class="button">Turn On</a>#}
        {% endif %}
    </h3>
    <br>

    <h3> Light 4 :
        {% if m4[0] == 0 %}
            <input onclick="javascript:window.location.href='/m4/on'; return false;" type="radio"
                   class="btn-check" name="m3-options-outlined" id="m4-success-outlined" autocomplete="off"
                   checked>
            <label class="btn btn-outline-success" for="m4-success-outlined">On</label>

            <input onclick="javascript:window.location.href='/m4/off'; return false;" type="radio"
                   class="btn-check" name="m4-options-outlined" id="m4-danger-outlined" autocomplete="off">
            <label class="btn btn-outline-danger" for="m4-danger-outlined">Off</label>

            {#            <a href="/m4/off" class="button">Turn Off</a>#}
        {% else %}
            {#            <a href="/m4/on" class="button">Turn On</a>#}
        {% endif %}
    </h3>
    <br>
    <br>


    {# Night lights buttons #}
    <h3> Night Lights 1 & 2 :
        {% if n12[0] == 0 %}
            {#            <a href="/n12/off" class="button">Turn Off</a>#}
        {% else %}
            {#            <a href="/n12/on" class="button">Turn On</a>#}
        {% endif %}
    </h3>
    <br>
    <h3> Night Light 3 :
        {% if n3[0] == 0 %}
            {#            <a href="/n3/off" class="button">Turn Off</a>#}
        {% else %}
            {#            <a href="/n3/on" class="button">Turn On</a>#}
        {% endif %}
    </h3>

    {# END #}

    <br>
    <br>

{% endblock %}