{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="../static/css/style.css">
    <div style="text-align: center;"><h1><br>Room Controller!</h1></div>
    <br>
    <div style="text-align: center;"><img src="../static/images/halloween.jpg" alt "RoomControl-logo" width="400"
        height="350">
    </div>
{% endblock %}


{% block body %}
    <h3>
        <a href="/all/on" class="button">Main Lights and Fan On</a>
        <a href="/all/off" class="button">Main Lights and Fan Off</a>
    </h3>
    <br>


    <h3> Fan is currently {{ fan[1] }},
        {% if fan[0] == 0 %}
            <a href="/fan/off" class="button">Turn Off</a>
        {% else %}
            <a href="/fan/on" class="button">Turn On</a>
        {% endif %}
    </h3>
    <br>
    <br>

    <h3> Main Light 1 is currently {{ m1[1] }},
        {% if m1[0] == 0 %}
            <a href="/m1/off" class="button">Turn Off</a>
        {% else %}
            <a href="/m1/on" class="button">Turn On</a>
        {% endif %}
    </h3>
    <br>
    <h3> Main Light 2 is currently {{ m2[1] }},
        {% if m2[0] == 0 %}
            <a href="/m2/off" class="button">Turn Off</a>
        {% else %}
            <a href="/m2/on" class="button">Turn On</a>
        {% endif %}
    </h3>
    <br>

    <h3> Main Light 3 is currently {{ m3[1] }},
        {% if m3[0] == 0 %}
            <a href="/m3/off" class="button">Turn Off</a>
        {% else %}
            <a href="/m3/on" class="button">Turn On</a>
        {% endif %}
    </h3>
    <br>

    <h3> Main Light 4 is currently {{ m4[1] }},
        {% if m4[0] == 0 %}
            <a href="/m4/off" class="button">Turn Off</a>
        {% else %}
            <a href="/m4/on" class="button">Turn On</a>
        {% endif %}
    </h3>
    <br>
    <br>

    <h3> Night Lights 1 & 2 are currently {{ n12[1] }},
        {% if n12[0] == 0 %}
            <a href="/n12/off" class="button">Turn Off</a>
        {% else %}
            <a href="/n12/on" class="button">Turn On</a>
        {% endif %}
    </h3>
    <br>
    <h3> Night Light 3 is currently {{ n3[1] }},
        {% if n3[0] == 0 %}
            <a href="/n3/off" class="button">Turn Off</a>
        {% else %}
            <a href="/n3/on" class="button">Turn On</a>
        {% endif %}
    </h3>
    <br>
    <br>

{% endblock %}